@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background-color: #0a111a;
  --border-color: #5ab3cc;
  --hover-color: #1d5a79;
  --ship-color: #33f8ee;
  --ship-color-selected: #e162fa;
  --display-color: #112233;
  --panel-color: #233d52;
  --panel-border-color: #3a6080;
  --warning: #c8a93a;
  --hit: #b84040;
  --safe: #3a7a3a;
  --sunk: #663f3f;
  --attack-hover: #8d2929;
  --background-gradient: radial-gradient(
    circle,
    rgba(31, 45, 64, 1) 26%,
    rgba(13, 27, 38, 1) 71%
  );
}
html {
  background-color: var(--background-color);
  background: var(--background-gradient);
  height: 100vh;
  font-family: "Share Tech Mono", "Courier New", monospace;
}
body {
  height: 100%;
  text-align: center;
  padding-top: 1rem;
}
body h1 {
  color: white;
  letter-spacing: 0.5rem;
}
.main {
  padding: 2rem 20% 2rem 20%;
  display: grid;
  height: calc(100vh - h1-height);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
  grid-template-areas:
    "player computer"
    "control control";
}

.player,
.computer,
.controls {
  color: white;
  background-color: var(--panel-color);
  border: 3px solid var(--panel-border-color);
  box-shadow:
    inset 0 1px 0 #4a7a9a,
    inset 0 -1px 0 #0d1b26;
}
.player {
  grid-area: player;
}
.computer {
  grid-area: computer;
}
.player,
.computer {
  padding: 2rem;
  border-radius: 5%;
}
.controls {
  margin-top: 2rem;
  grid-area: control;
  border: 1px solid var(--border-color);
  width: 120%;
  height: 25vh;
  border-radius: 0.4rem;
  padding-top: 2rem;
  padding-right: 1.5rem;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
}
.console {
  display: flex;
  transition: opacity 500ms;
}
#controlWindow {
  padding-left: 4rem;
  align-content: center;
}
.welcome {
  position: absolute;
  position-anchor: --input;
  position-area: top center;
  top: calc(anchor(top) - 2rem);
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
}
#nameInput {
  border-radius: 1rem 0 0 1rem;
  anchor-name: --input;
}
.controls div input,
.controls div button {
  height: 3rem;
  width: 15rem;
  background-color: var(--display-color);
  color: white;
  font-size: 1.4rem;
  margin-right: 0.1rem;
  padding-left: 1rem;
  border: 2px solid var(--panel-border-color);
  border-radius: 1rem;
}
.controls div button {
  width: 10rem;
  border-radius: 0 1rem 1rem 0;
  text-align: start;
}
.controls div div button {
  border-radius: 0.5rem;
  animation: 0.4s fade-in;
  box-shadow:
    inset 0 1px 0 #4a7a9a,
    inset 0 -1px 0 #0d1b26;
}
.controls div div {
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "info attack";
  gap: 1rem;
}
.controls div button:hover {
  background-color: var(--hover-color);
}
#controlWindow div .move-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "rotate up confirm"
    "left down right";
  gap: 0;
}
#controlWindow div .move-buttons button {
  width: 115px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.move-buttons button:nth-child(1) {
  grid-area: up;
}
.move-buttons button:nth-child(2) {
  grid-area: down;
}
.move-buttons button:nth-child(3) {
  grid-area: left;
}
.move-buttons button:nth-child(4) {
  grid-area: right;
}
#controlWindow div .move-buttons button:nth-child(5) {
  grid-area: rotate;
  background-color: var(--border-color);
  color: black;
}
#controlWindow div .move-buttons button:nth-child(5):hover {
  background-color: #87d9f0;
}
#controlWindow div .move-buttons button:nth-child(6) {
  grid-area: confirm;
  background-color: var(--border-color);
  color: black;
}
#attack {
  grid-area: attack;
  height: 150px;
  background-color: var(--hit);
  box-shadow:
    inset 0 1px 0 #4a7a9a,
    inset 0 -1px 0 #0d1b26;
  text-align: center;
  padding: 0;
  border-radius: 1rem;
  justify-self: end;
  margin-right: 1rem;
  margin-left: auto;
}
#attack:hover {
  background-color: var(--attack-hover);
  font-size: 1.6rem;
}
.console {
  display: flex;
  flex-direction: column;
  height: 180px;
  background-color: var(--background-color);
  width: 100%;
  border-radius: 1rem;
  border: 3px solid var(--panel-border-color);
  box-shadow:
    inset 0 1px 0 #4a7a9a,
    inset 0 -1px 0 #0d1b26;
  color: rgb(28, 255, 28);
  overflow-y: hidden;
  justify-self: end;
  text-align: start;
  padding: 0.5rem 4rem;
  line-height: 1.5rem;
  letter-spacing: 0.15rem;
  font-size: 1.2rem;
}
.console p {
  opacity: 70%;
  position: relative;
}
.console p:first-of-type {
  margin-bottom: 1rem;
  animation-name: drop-in;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
.grid-box,
.grid-inner-box {
  height: 50px;
  width: 500px;
  border: 1px solid var(--border-color);
}
.grid-inner-box {
  width: 50px;
  background-color: var(--display-color);
}
.computer div div div:hover {
  cursor: crosshair;
  transition: 0.2s ease-out;
  transform: scale(1.3);
}

.grid-box {
  display: flex;
  border: none;
}
.ship {
  background-color: var(--ship-color);
  border: 2px solid transparent;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.selected {
  background-color: var(--ship-color-selected);
  transform: scale(1.1);
  box-shadow: 6px 6px rgba(0, 0, 0, 0.466);
}
.hit {
  background-color: var(--hit);
}
.miss {
  background-color: var(--safe);
}
.sunk {
  background-color: var(--sunk);
  transition: 0.7s ease;
}
.computer .sunk:hover,
.computer .hit:hover,
.computer .miss:hover {
  transform: scale(1);
  transition: none;
}

.attack {
  animation-duration: 0.8s;
  animation-name: attack;
}
.bounce {
  animation-duration: 0.15s;
  animation-name: bounce;
  animation-iteration-count: 2;
}
.win {
  color: green;
  margin-bottom: 1rem;
}
.loss {
  color: red;
  margin-bottom: 1rem;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(-4px);
  }
}

@keyframes drop-in {
  from {
    left: -100px;
    opacity: 70%;
    filter: blur(4px);
  }
  to {
    filter: blur(0px);
    left: 0px;
    opacity: 100%;
  }
}
@keyframes attack {
  0% {
    transform: scale(1);
    border: 1px solid var(--border-color);
    z-index: 5;
  }
  30% {
    border-radius: 50%;
  }
  40% {
    transform: scale(2);
    border-radius: 50%;
  }
  100% {
    transform: scale(1);
    z-index: 5;
    border: 1px solid var(--border-color);
  }
}
@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
